@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    color: #ededed;
    background: #081b29;
    /* background: url(../../img/backgroud.png) no-repeat;
    background-size: cover;
    background-position: center; */
    height: 100%;
    
}


/* KEYFRAMES ANIMAÇÕES */


@keyframes showRight{
    100%{
        width: 0;
    }
}

@keyframes manipActiveHover{
    100%{
        pointer-events: auto;
    }
}

@keyframes aboutSpinner{
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* Estilos para telas pequenas */
@media (max-width: 720px) {

    body{
        background: #081b29;
    }

}