.home-imgHover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 600px;
    height: 100%;
    background-color: transparent;
    transition: 3s;
    animation: manipActiveHover 0.1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.home-imgHover:hover {
    background: #081b29;
    opacity: 0.3;
}


/* Aqui esta o efeito de carregamento */
.home-imgHover::after {
    content: "";
    position: absolute;
    top: 0;
    right: -0;
    width: 350%;
    height: 100%;
    background: #081b29;    
    animation: showRight 2s ease forwards;
    animation-delay: 1s;
    z-index: 100;
}

/* Media Queries for Responsiveness */

/* Tablets */
@media (max-width: 768px) {
    .home-imgHover {
        right: 20px;
        width: 400px;
    }

    .home-imgHover::after {
        width: 150%;
    }
}

/* Mobile Devices */
@media (max-width: 480px) {
    .home-imgHover {
        right: 10px;
        width: 100%;
        
    }

    .home-imgHover::after {
        width: 200%;
    }
}
