.list::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 120%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
    z-index: 100;
    
}

/* Media Queries for Responsiveness */

/* Tablets */
@media (max-width: 768px) {
    .list::after {
        width: 150%;
    }
}

/* Mobile Devices */
@media (max-width: 480px) {
    .list::after {
        width: 200%;
    }
}
