.home{
    height: 100vh;
    background: url(../../img/home.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}