.home-content {
    background: transparent;
    max-width: 1000px;
    margin: 0px;
    padding: 20px;
    
}

/* Button Box */
.home-content .btn-box {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    max-width: 345px;
    height: 50px;
    background: transparent;
}

/* .home-content .btn-box::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
    z-index: 2;
} */

/* Media Queries for Responsiveness */

/* Tablets */
@media (max-width: 768px) {
    .home-content {
        padding: 15px;
    }

    .home-content .btn-box {
        max-width: 300px;
        height: 45px;
    }

    .home-content .btn-box::before {
        animation-delay: 1.5s;
    }
}

/* Mobile Devices */
@media (max-width: 480px) {
    .home-content {
        padding: 10px;
        margin-bottom: 50px; /* Adiciona uma margem inferior para acomodar o .home-sci */
        position: relative; /* Adiciona position relative para definir o contexto de posicionamento */
        border: 3px solid blanchedalmond;
        
    }

    .home-content .btn-box {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        height: auto;
    }

    .home-content .btn-box::before {
        animation-delay: 1s;
    }
}
