.home-content p{
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
    text-align: justify;
    
}

.home-content p::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
}