.list-contect {
    background: transparent;
    width: 1000px;
    margin: 0 auto; /* Centraliza o elemento na tela */
}

/* Media Queries para Responsividade */
@media (max-width: 1200px) {
    .list-contect {
        width: 90%; /* Reduz a largura para 90% da largura da tela */
    }
}

@media (max-width: 768px) {
    .list-contect {
        width: 80%; /* Reduz a largura para 80% da largura da tela em tablets */
    }
}

@media (max-width: 480px) {
    .list-contect {
        width: 95%; /* Reduz a largura para 95% da largura da tela em dispositivos móveis */
    }
}
