.home-content{
    background: transparent;
    max-width: 1000px;
}

.home-content .btn-box{
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    background: transparent;
}


.home-content .btn-box::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
    z-index: 2;
}