.about-img {
    position: relative;  
    display: flex;
    justify-content: center;
    align-items: center;  
}

.about-img img {
    width: 40%;
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 45%;
    height: 110%;
    border-radius: 50%;
    border-top: .2rem solid #112e42;
    border-bottom: .2rem solid #112e42;
    border-left: .2rem solid #00abf0;
    border-right: .2rem solid #00abf0;
    animation: aboutSpinner 8s linear infinite;

}