/* --- CSS DA SEÇÃO ABOUT --- */
.plano_de_fundo {
    position: relative; /* Define o posicionamento relativo */
    display: flex; /* Define o layout flexível */
    align-items: center; /* Alinha os itens ao centro verticalmente */
    margin: 0 10%; /* Define margens horizontais */
    margin-top: 1%; /* Define margem superior */
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5); /* Adiciona sombra */
    border: 1px solid black; /* Adiciona borda */
    background-color: #112635; /* Define a cor de fundo */
    flex-direction: column; /* Organiza os itens em coluna */
    height: auto;
}

.fundo_timeline {
    position: relative; /* Define o posicionamento relativo */
    display: flex; /* Define o layout flexível */
    align-items: center; /* Alinha os itens ao centro verticalmente */
    margin: 0 10%; /* Define margens horizontais */
    margin-top: 1%; /* Define margem superior */
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5); /* Adiciona sombra */
    border: 1px solid black; /* Adiciona borda */
    background-color: #112635; /* Define a cor de fundo */
    flex-direction: column; /* Organiza os itens em coluna */ 
}

/* --- CSS DA IMAGEM --- */
.about-img {
    margin-top: 30px; /* Define margem superior */
    margin-bottom: 30px;
    position: relative; /* Define o posicionamento relativo */
    display: flex; /* Define o layout flexível */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Alinha verticalmente */
}

.about-img img {
    width: 40%; /* Define a largura da imagem */
}

.about-img .circle-spin {
    position: absolute; /* Define o posicionamento absoluto */
    top: 50%; /* Alinha ao meio verticalmente */
    left: 50%; /* Alinha ao meio horizontalmente */
    transform: translate(-50%, -50%) rotate(0); /* Centraliza e remove rotação inicial */
    width: 45%; /* Define a largura do círculo */
    height: 110%; /* Define a altura do círculo */
    border-radius: 50%; /* Faz a borda ser um círculo */
    border-top: .2rem solid #112e42; /* Define a cor da borda superior */
    border-bottom: .2rem solid #112e42; /* Define a cor da borda inferior */
    border-left: .2rem solid #00abf0; /* Define a cor da borda esquerda */
    border-right: .2rem solid #00abf0; /* Define a cor da borda direita */
    animation: aboutSpinner 8s linear infinite; /* Aplica uma animação de rotação */
}

/*  --- CSS 'SOBRE MIM' --- */
.heading {
    font-size: 32px; /* Define o tamanho da fonte */
    margin-top: 40px; /* Define a margem superior */
    text-align: center; /* Alinha o texto ao centro */
}

span {
    color: #00abf0; /* Define a cor do texto dentro da tag <span> */
}

/* CSS DA TIME LINE DE EXPERIENCIA */
.timeline {
    position: relative; /* Define o posicionamento relativo */
    max-width: 1200px; /* Define a largura máxima */
    margin: 100px auto; /* Define margens vertical e horizontal automáticas */
    

}

.timeline::after {
    content: ''; /* Adiciona um pseudo-elemento */
    position: absolute; /* Define o posicionamento absoluto */
    width: 3px; /* Define a largura da linha */
    background: #f1f1f1; /* Define a cor da linha */
    top: 0; /* Alinha ao topo */
    left: 50%; /* Centraliza horizontalmente */
    margin-left: -3px; /* Ajusta a posição para centralizar */
    animation: moveline 10s linear forwards;
}


@keyframes moveline{
    0%{
        height: 0;
    }

    100%{
        height: 100%;
    }
}

.container {
    padding: 10px 40px; /* Define preenchimento interno */
    position: relative; /* Define o posicionamento relativo */
    width: 50%; /* Define a largura de 50% */
    background-color: inherit;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0%{
        opacity:0;
        z-index: 1;
        transform: translateY(0px);
    }

    100%{
        opacity: 1;
        z-index: 1;
        transform: translateY(20px);
    }
}

.container:nth-child(1) {
    animation-delay: 0s ;
}

.container:nth-child(2) {
    animation-delay: 1s ;
}

.container:nth-child(3) {
    animation-delay: 2s ;
}

.container:nth-child(4) {
    animation-delay: 3s ;
}

.container:nth-child(5) {
    animation-delay: 4s ;
}

.container:nth-child(6) {
    animation-delay: 5s ;
}

.container:nth-child(7) {
    animation-delay: 6s ;
}

.container:nth-child(8) {
    animation-delay: 7s ;
}

.container:nth-child(9) {
    animation-delay: 8s ;
}

.container:nth-child(10) {
    animation-delay: 9s ;
}

.container:nth-child(11) {
    animation-delay: 10s ;
}

.container:nth-child(12) {
    animation-delay: 11s ;
}

.container:nth-child(13) {
    animation-delay: 12s ;
}

.container:nth-child(14) {
    animation-delay: 13s ;
}

.container img {
    content: '';
    position: absolute; /* Define o posicionamento absoluto */
    width: 40px; /* Define a largura da imagem */
    height: 40px;
    border: 2px solid #fff; /* Define uma borda branca */
    border-radius: 50%; /* Define bordas arredondadas */
    top: 40%; /* Define a posição no topo */
    border-radius: 50%;  
    right: -18px; /* Define a posição à direita */
    z-index: 1; /* Garante que a imagem fique sobre a linha */

}




.text-box {
    padding: 20px 30px; /* Define preenchimento interno */
    background: #fff; /* Define a cor de fundo */
    color: #112635; /* Define a cor do texto */
    position: relative; /* Define o posicionamento relativo */
    border-radius: 6px; /* Define bordas arredondadas */
    font-size: 13px; /* Define o tamanho da fonte */
}

.left-container {
    left: 0; /* Alinha à esquerda */
}



.rigth-container {
    left: 50%; /* Alinha à direita */
}



.rigth-container img {
    left: -20px; /* Define a posição à esquerda */
}



@keyframes moveline {
    0% {
        height: 0; /* Começa com altura zero */
    }
    100% {
        height: 100%; /* Fica com altura total ao final */
    }
}

.text-box {
    padding: 20px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.text-box h2 {
    font-weight: 600; /* Define o peso da fonte */
}

.text-box small {
    display: inline-block; /* Define exibição inline-block */
    margin-bottom: 15px; /* Define margem inferior */
}

.left-container-arrow {
    content: '';
    position: absolute; /* Define o posicionamento absoluto */
    height: 0; /* Define altura zero (necessário para triângulos) */
    width: 0; /* Define largura zero (necessário para triângulos) */
    top: 40%; /* Define a posição no topo */
    z-index: 1; /* Garante que a seta fique sobre a linha */    
    border-top: 15px solid transparent; /* Define a borda superior transparente */
    border-bottom: 15px solid transparent; /* Define a borda inferior transparente */
    border-left: 15px solid #fff; /* Define a borda esquerda branca */
    right: -15px; /* Define a posição à direita */

}

.rigth-container-arrow {
    content: '';
    position: absolute; /* Define o posicionamento absoluto */
    height: 0; /* Define altura zero (necessário para triângulos) */
    width: 0; /* Define largura zero (necessário para triângulos) */
    top: 40%; /* Define a posição no topo */
    z-index: 1; /* Garante que a seta fique sobre a linha */    
    border-top: 15px solid transparent; /* Define a borda superior transparente */
    border-bottom: 15px solid transparent; /* Define a borda inferior transparente */
    border-right: 15px solid #fff; /* Define a borda esquerda branca */
    left: -15px; /* Define a posição à direita */

}


/* ----------------- CSS DOS BOTÕES ----------------- */



.home-btn {
    display: flex; /* Define o layout flexível */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Alinha verticalmente */
    padding: 0 10%; /* Define preenchimento horizontal */
    margin: 0 10%; /* Define margens horizontais */
    margin-top: 30px; /* Define margem superior */
    height: 40px; /* Define altura */
}

.btn-box {
    display: flex; /* Define o layout flexível */
    position: relative; /* Define o posicionamento relativo */
    width: 100%; /* Define largura */
    height: 100%; /* Define altura */
    background-color: transparent; /* Fundo transparente */
    justify-content: center; /* Centraliza horizontalmente */
}


.btn-box::before {
    content: ""; /* Adiciona conteúdo vazio */
    position: absolute; /* Define o posicionamento absoluto */
    top: 0; /* Alinha ao topo */
    right: 0; /* Alinha à direita */
    width: 100%; /* Define a largura */
    height: 100%; /* Define a altura */
    background: #081b29; /* Define cor de fundo */
    animation: showRight 5s ease forwards; /* Aplica uma animação */
    animation-delay: 1s; /* Define o atraso da animação */
    z-index: 2; /* Define a prioridade de empilhamento */
}

.btn-box a {
    display: flex; /* Define o layout flexível */
    margin: 0 10px; /* Define margens horizontais */
    position: relative; /* Define o posicionamento relativo */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Alinha verticalmente */
    width: 150px; /* Define largura */
    height: 100%; /* Define altura */
    background: #00abf0; /* Define cor de fundo */
    border: 2px solid #00abf0; /* Define borda */
    border-radius: 8px; /* Define borda arredondada */
    font-size: 15px; /* Define o tamanho da fonte */
    color: #081b29; /* Define cor da fonte */
    text-decoration: none; /* Remove sublinhado */
    font-weight: 600; /* Define peso da fonte */
    letter-spacing: 1px; /* Define espaçamento entre letras */
    z-index: 1; /* Define a prioridade de empilhamento */
    overflow: hidden; /* Esconde overflow */
    transition: 2s; /* Transição suave */
}

.btn-box a:hover {
    color: #00abf0; /* Define cor ao passar o mouse */
}

.btn-box a:nth-child(2) {
    background: transparent; /* Fundo transparente */
    color: #00abf0; /* Define cor da fonte */
}

.btn-box a:nth-child(2):hover {
    color: #081b29; /* Define cor ao passar o mouse */
}

.btn-box a:nth-child(2)::before {
    background: #00abf0; /* Define cor de fundo */
}

.btn-box a::before {
    content: ""; /* Adiciona conteúdo vazio */
    position: absolute; /* Define o posicionamento absoluto */
    top: 0; /* Alinha ao topo */
    left: 0; /* Alinha à esquerda */
    width: 0; /* Define largura inicial */
    height: 100%; /* Define altura */
    background: #081b29; /* Define cor de fundo */
    z-index: -1; /* Define a prioridade de empilhamento */
    transition: 1s; /* Transição suave */
}

.btn-box a:hover::before {
    width: 100%; /* Define largura ao passar o mouse */
}

/* ----------------- CSS REDE SOCIAL ----------------- */

.home-sci {
    position: relative; /* Define o posicionamento relativo */
    margin-top: 30px; /* Define margem superior */
    padding-bottom: 30px; /* Define preenchimento inferior */
    bottom: 5%; /* Ajusta distância do fundo */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Centraliza horizontalmente */
    width: 90%; /* Define largura relativa */
    max-width: 170px; /* Define largura máxima */
    display: flex; /* Define o layout flexível */
    justify-content: space-around; /* Espaça itens igualmente */
    z-index: 2; /* Define a prioridade de empilhamento */
}

.home-sci::before {
    content: ""; /* Adiciona conteúdo vazio */
    position: absolute; /* Define o posicionamento absoluto */
    top: 0; /* Alinha ao topo */
    right: 0; /* Alinha à direita */
    width: 100%; /* Define a largura */
    height: 100%; /* Define a altura */
    background: #081b29; /* Define cor de fundo */
    animation: showRight 1s ease forwards; /* Aplica uma animação */
    animation-delay: 1s; /* Define o atraso da animação */
    z-index: -1; /* Define a prioridade de empilhamento */
}

.home-sci a {
    position: relative; /* Define o posicionamento relativo */
    display: inline-flex; /* Define o layout flexível */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Alinha verticalmente */
    width: 40px; /* Define largura */
    height: 40px; /* Define altura */
    background: transparent; /* Fundo transparente */
    border: 2px solid #00abf0; /* Define borda */
    border-radius: 50%; /* Define borda arredondada */
    font-size: 20px; /* Define o tamanho da fonte */
    color: #00abf0; /* Define cor da fonte */
    text-decoration: none; /* Remove sublinhado */
    z-index: 1; /* Define a prioridade de empilhamento */
    overflow: hidden; /* Esconde overflow */
    transition: 1s; /* Transição suave */
}

.home-sci a:hover {
    color: #081b29; /* Define cor ao passar o mouse */
}

.home-sci a::before {
    content: ""; /* Adiciona conteúdo vazio */
    position: absolute; /* Define o posicionamento absoluto */
    top: 0; /* Alinha ao topo */
    left: 0; /* Alinha à esquerda */
    width: 0; /* Define largura inicial */
    height: 100%; /* Define altura */
    background: #00abf0; /* Define cor de fundo */
    z-index: -1; /* Define a prioridade de empilhamento */
    transition: 1s; /* Transição suave */
}

.home-sci a:hover::before {
    width: 100%; /* Define largura ao passar o mouse */
}


@media screen and (max-width: 500px) {

    .heading{
        padding:  5% 0%;
        color: red
    }

    .timeline{
        margin: 50px auto;
    }

    .timeline::after{
        left: 31px;
    }

    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .text-box{
        font-size: 13px;
    }

    .text-box small{
        margin-bottom: 10px;
    }

    .rigth-container{
        left: 0;
    }

    .left-container img, .rigth-container img {

        left: 10px;
    }

    .left-container-arrow , .rigth-container-arrow {
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    } 
    
}



/* ----------------- CSS AJUSTE PARA TELAS PEQUENAS ----------------- */

@media (max-width: 400px) {

    .btn-box a {
        font-size: 10px; /* Define tamanho da fonte */
    }
}

@media (min-width:401px) and (max-width: 480px) {

    .btn-box a {
        font-size: 12px; /* Define tamanho da fonte */
    }
}